* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  color: #333;
  background-color: linear-gradient(90deg, #270951, #7d1bde);
}
